.logo
{
    width:25% ;
    height:25% ;
    float:right;
    border-radius: 50px;
}
#caja_imagenes
{
    width: 1200px;
    height: 600px;
    margin: 0 auto;
}

.social{
    /*las imágenes usadas tienen width de 48px*/
    width: 40px;
    position: fixed;
    top: 70%;
    right: auto;
    margin-left: -25px;
}
#WS
{
    width: 85px;
    border-radius: 25px;
}
#IG
{
    width: 75px;
    border-radius: 25px;
    margin-left: 5px;
}



#caja_imagenes1:hover #f1 {-webkit-transform:scale(1.3);transform:scale(1.3);}
#caja_imagenes1 {overflow:hidden;}

#caja_imagenes2:hover #f2 {-webkit-transform:scale(1.3);transform:scale(1.3);}
#caja_imagenes2 {overflow:hidden;}

#caja_imagenes3:hover #f3 {-webkit-transform:scale(1.3);transform:scale(1.3);}
#caja_imagenes3 {overflow:hidden;}

#caja_imagenes4:hover #f4 {-webkit-transform:scale(1.3);transform:scale(1.3);}
#caja_imagenes4 {overflow:hidden;}

